---
import releaseData from '../../data/sh1mmer.json';
import { format } from 'date-fns';

const releasename = releaseData.name.replace(/v.*$/, "").trim();
const id = releaseData.lowercasename;

const assets = releaseData.assets.map(asset => ({
  name: asset.name,
  url: asset.browser_download_url,
  date: asset.updated_at 
    ? format(new Date(asset.updated_at), "yyyy-MM-dd") 
    : "Unknown",
  size: `${(asset.size / 1024 / 1024).toFixed(2)} MB`
}));
---


<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta property="og:title" content="Sh1mmer - Mr. Workshop's Download Server">
	<meta property="og:description" content="If they gave a prize for best downloads the winner would be him">
	<meta property="og:image" content="/preview.png">
	<meta property="og:url" content="https://dl.mrwork.shop/">
    <link rel="icon" type="image/png" href="/download.png">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>{releasename} - Mr. Workshop's Download Server</title>
  </head>
  <body>
	<div class="navbar">
	<button class="nav" id="nav"><span></span><span></span><span></span></button>
	</div>

	<div class="overlay" id="overlay">
	<div class="sidebar">
		<img src="/download.png">
		<a href="/"><h2>Mr. Workshop's Download Server</h2></a>
		<a href="/aurora">Aurora</a>
		<a href="/sh1mmer">SH1MMER</a>
		<a href="/nanoshims">Nanoshims</a>
		<a href="/br0ker">Br0ker</a>
		<a href="/kvs">KVS</a>
		<a href="/picoshim">Picoshim</a>
	</div>
	</div>

	<script>
	const nav = document.getElementById("nav");
	const overlay = document.getElementById("overlay");

	function closeOverlay() {
		overlay!.classList.remove("active");
		nav!.classList.remove("active");
	}

	nav!.addEventListener("click", () => {
		overlay!.classList.toggle("active");
		nav!.classList.toggle("active");
	});

	overlay!.addEventListener("click", (e) => {
		if (e.target === overlay) closeOverlay();
	});

	document.addEventListener("keydown", (e) => {
		if (e.key === "Escape") closeOverlay();
	});
	</script>
    <h1>{releasename} - Mr. Workshop's Download Server</h1>
    <div class="main">
		<a class="file" href="/"><span class="filename">../</span></a>
		{assets.map(asset => (
		<a class="file" id="file" data-url={asset.url} data-name={asset.name} href={`${id}/${asset.name}`}><span class="filename">{asset.name}</span><span class="date">{asset.date}</span><span class="size">{asset.size}</span></a>
		))}

		<script type="module">
		document.querySelectorAll('#file').forEach(link => {
			link.addEventListener('click', e => {
			e.preventDefault();
			const url = link.dataset.url;
			const name = link.dataset.name;
			const a = document.createElement('a');
			a.href = url;
			a.download = name;
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
			});
		});
		</script>

    </div>
  </body>
</html>
